{% extends "layout.html" %}

{% block content %}
<div class="faq-section">
    <h1 class="faq-title text-center">FAQs</h1>
    <div class="faq-list container">

        <details class="faq-item">
            <summary>Is Socotra Safe?</summary>
            <p>Yes, absolutely! Socotra is far away from mainland Yemen and it hosts some of the friendliest people you will ever meet. We are a responsible tour operator and your safety is our number one priority. The only ‘danger’ in Socotra is falling in love with the Island 😊</p>
        </details>

        <details class="faq-item">
            <summary>Internet and Phone Signal</summary>
            <p>For a more authentic experience, we recommend that you leave your phone and worries behind. However, if you need to be connected to the outside world, please note that you could purchase an Etisalat SIM card in UAE (they are even sold in the Abu Dhabi Airport) and it works in some places here. In case of an emergency, you can request the guide to offer hotspot connection. Any other foreign SIM card will most likely not get coverage on the island.</p>
        </details>

        <details class="faq-item">
            <summary>Electricity</summary>
            <p>You will be able to charge your phone and equipment on the island, however we do recommend you bring extra batteries and power banks to get you covered for the trip.</p>
        </details>

        <details class="faq-item">
            <summary>Drones</summary>
            <p>You could bring a drone and capture the best shots on the island. You can operate it almost anywhere, except private residences and the airport, however we do advise to be mindful to other tourists and locals altogether to ensure everyone has a good experience on the island.</p>
            <p>If you pick the photographer package, we will take you to special places where you can fly the drone away from any ‘crowd’.</p>
            <p>If you intend to bring a drone, please let us know prior to beginning the tour so we can obtain an approval from the local authority. You will need to pay an extra fee of 100 USD to have this processed.</p>
        </details>

        <details class="faq-item">
            <summary>Clothes and Other Items</summary>
            <p>Bring plenty of sun lotion! This is not available to purchase on the island.</p>
            <p>The weather on the island is typically hot during the day and it cools down at night. Bring comfortable clothes, t-shirts, shorts, flip flops, hiking shoes, sandals, a towel, toiletries, sunglasses, but also a pair of long trousers for the mountains and higher altitudes.</p>
            <p>Don’t forget your favourite book, board game or anything that helps you relax while listening to the sound of the waves.</p>
            <p>It is always a good idea to have available band-aids for any minor scratches, etc., and any medical supplies you deem necessary since the island has a limited availability of those.</p>
        </details>

        <details class="faq-item">
            <summary>Cash</summary>
            <p>When paying for the tour, please bring new USD banknotes or AED. Bring some extra cash for any souvenirs you wish to purchase on the island. There is no ATM or bank on the island so it is always advisable to have some small reserve available.</p>
        </details>

        <details class="faq-item">
            <summary>Food</summary>
            <p>We provide three fresh meals a day, with a focus on local Yemeni and Socotri cuisine. Meals are prepared by our trusted local chefs. Vegetarian options are available upon request. Please inform us in advance about any dietary restrictions.</p>
        </details>

        <details class="faq-item">
            <summary>Cancellation Policy</summary>
            <p>If you cancel 30+ days before the tour, you will receive a full refund minus a small administrative fee.</p>
            <p>Cancellations within 30 days of the trip are non-refundable. In case of emergencies or political unrest affecting travel to Socotra, we offer full rescheduling at no extra charge.</p>
        </details>

    </div>
</div>
{% endblock %}
