{% extends "layout.html" %}

{% block content %}
<div class="here">

    <h1 class="title-here">How to get here?</h1>

    <div class="here-right">
        <p>Get in touch to arrange the tour and select between our different options, as well as the dates.</p>
    </div>

    <div class="here-left">
        <p>After you select which type of tour you would like to go on (WILD, COMFY or VCP) and your dates; You will begin the process of getting here by sending us a small down payment and a picture of your passport.
        These necessities will be used to secure your tourist visa and flight from Abu Dhabi to Socotra.
        The flight leaves once a week, on Tuesdays from Abu Dhabi to Socotra DIRECT. Usually around 09:30am.</p>
    </div>

</div>
{% endblock %}
