{% extends "layout.html" %}

{% block content %}
<div class="here">
    <h1 class="title-here">How to get here?</h1>

    <div class="here-content">
        <!-- First circle with original content -->
        <div class="here-circle">
            <p>Get in touch to arrange the tour by selection one of our packages
            </p>
        </div>

        <!-- Second circle with original content -->
        <div class="here-circle">
            <p>You will begin the process of getting here by sending us a small down payment and a picture of your passport.
                These necessities will be used to secure your tourist visa and flight from Abu Dhabi to Socotra.
                
         </p>
        </div>

        <!-- Third and fourth circles (empty for now) -->
        <div class="here-circle">

            <p>   A few weeks before your departure time, we will start processing the visa. 
                *Your visa will arrive via email 2 weeks before departure to Abu Dhabi.
                 You will need to have this printed and bring it along with your passport on the island 
                </p>
        </div>

        <div class="here-circle">

            <p>
                Pack your bags and fly to Abu Dhabi (the flight from your home to Abu Dhabi is not included). 
                We advise you to arrive a day before flying to Socotra and leave enough time between your flight to 
                Abu Dhabi and the one to Socotra in case of any delays,etc.
    
            </p>
        </div>

    </div>
</div>
{% endblock %}
