{% extends "layout.html" %}

{% block content %}

<div class="login-content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="login-form-group">
            <legend class="login-border-bottom mb-4">Log In</legend>
            <div class="login-form-group">
                {{ form.email.label(class="login-form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="login-form-control login-form-control-lg login-is-invalid") }}
                    <div class="login-invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="login-form-control login-form-control-lg") }}
                {% endif %}
            </div>
            <div class="login-form-group">
                {{ form.password.label(class="login-form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="login-form-control login-form-control-lg login-is-invalid") }}
                    <div class="login-invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="login-form-control login-form-control-lg") }}
                {% endif %}
            </div>
            <div class="login-form-check">
                {{ form.remember(class="login-form-check-input") }}
                {{ form.remember.label(class="login-form-check-label") }}
            </div>
        </fieldset>
        <div class="login-form-group">
            {{ form.submit(class="login-btn login-btn-outline-info") }}
        </div>
        <small class="login-text-muted login-ml-2">
            <a href="{{ url_for('reset_request') }}">Forgot Password?</a>

        </small>
        <div class="login-border-top login-pt-3">
    <small class="login-text-muted">
        Need An Account? <a class="login-ml-2" href="{{ url_for('adminregistration') }}">Sign Up Now</a>
    </small>
</div>

    </form>

</div>



{% endblock %}
