{% extends "layout.html" %}

{% block content %}
<div class="regis-content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="regis-form-group">
            <div class="regis-form-group">
                {{ form.email.label(class="regis-form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="regis-form-control regis-form-control-lg regis-is-invalid") }}
                    <div class="regis-invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="regis-form-control regis-form-control-lg") }}
                {% endif %}
            </div>
            <div class="regis-form-group">
                {{ form.password.label(class="regis-form-control-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="regis-form-control regis-form-control-lg regis-is-invalid") }}
                    <div class="regis-invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="regis-form-control regis-form-control-lg") }}
                {% endif %}
            </div>
            <div class="regis-form-group">
                {{ form.confirm_password.label(class="regis-form-control-label") }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="regis-form-control regis-form-control-lg regis-is-invalid") }}
                    <div class="regis-invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="regis-form-control regis-form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="regis-form-group">
            {{ form.submit(class="regis-btn regis-btn-outline-info") }}
        </div>
        <div class="regis-border-top regis-pt-3">
    <small class="regis-text-muted">
        Already Have An Account? <a class="regis-ml-2" href="{{ url_for('adminlogin') }}">Sign In</a>
    </small>
</div>
    </form>
</div>



{% endblock %}
